*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.form-box{
    width: 720px;
    height: 480px;
    position: relative;
    box-shadow: 0 0 20px 9px #e1e1e1;
    margin: 6% auto;
    background: #fff;
    border-radius: 30px;
    padding: 5px;
    overflow: hidden;
}
.billingadd-txt{
    font-family: sans-serif;
    margin-top: 35px;
    margin-left: 45px;
}
/* .payment-txt{
    font-family: sans-serif;
    margin: 0;
    margin-left: 400px;
} */
/* /* .button-box{
    width: 220px;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0 20px 9px #ff61241f;
    border-radius: 30px;
} */
.input-group1{
    top: 60px;
    margin-left: 0px;
    position: absolute;
    width: 280px;
    transition: .5s;
}
.input-group{
    top: 60px;
    margin-left: 360px;
    position: absolute;
    width: 280px;
    transition: .5s;
}
.input-field{
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}
.input-fieldEXPYear{
    width: 40%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}
.input-fieldCVV{
    width: 40%;
    padding: 10px 0;
    margin: 5px 0;
    margin-left: 35px;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}
.submit-btn{
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: 30px;
    background: linear-gradient(to right, #ff105f,#ffad06);
    border: 0;
    outline: none;
    border-radius: 30px;
}
#login{
    left: 50px;
}
#register{
    left: 450px;
}
